body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin: 20px auto;
    position: relative;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.clear-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #dc3545;
    z-index: 1000;
}

.clear-button:hover {
    background-color: #c82333;
}

#notes-container {
    flex: 1;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}

.note {
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    white-space: pre-wrap;
    position: absolute;
    cursor: move;
    user-select: text;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.note:focus-within {
    border-color: #007BFF;
}

.delete-button, .edit-button {
    position: absolute;
    top: -5px;
    width: 20px;
    height: 20px;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-color: #ddd;
    display: none;
}

.delete-button {
    right: -5px;
    background: url('../img/trash-icon.png') no-repeat center center / contain;
}

.edit-button {
    right: 25px;
    background: url('../img/edit-icon.png') no-repeat center center / contain;
}

.note:focus-within .delete-button,
.note:focus-within .edit-button {
    display: block;
}

.edit-mode {
    user-select: text;
    border: 2px solid #007BFF;
}

.edit-mode .note-content {
    display: none;
}

.edit-mode textarea,
.edit-mode .color-input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

.edit-mode textarea {
    height: 150px;
    resize: none; 
}

.edit-mode .save-button,
.edit-mode .cancel-button {
    display: inline-block;
}

.save-button,
.cancel-button {
    display: none;
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.save-button:hover,
.cancel-button:hover {
    background-color: #0056b3;
}
